* {
    margin: 0;
    padding: 0;
}

.backimagetop {
    display: block;
}

body {
    background: #E0E8FF;
}

#testwaveback {
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.imagetop {
    width: 450px;
    height: auto;
    margin-left: 750px;
    margin-top: 75px;
}

.imagetop img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.toppart {
    background-color: #F8F9FE;
    width: 450px;
    height: 550px;
    margin-left: 750px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.texthaut {
    width: 70%;
    margin: 35px 0;
    text-align: center;
}

.texthaut h2 {
    font-size: 30px;
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display';
    font-weight: 900;
}

.texthaut p {
    padding: 10px;
    text-align: center;
    font-family: 'Red Hat Display';
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    line-height: 1.8;
}

.chooseplan {
    background-color: #eff1fc;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    width: 350px;
    border-radius: 10px;
}

.textchooseplan {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-family: 'Red Hat Display';
    color:hsl(223, 47%, 23%);
    line-height: 1.6;
}

.textchooseplan p {
    font-weight: 400;
}

.chooseplan button#test {
    margin-left: auto;
    padding-right: 15px;
    height: 40px;
    font-family: 'Red Hat Display';
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    color: rgb(70, 70, 70);
}
.chooseplan button#test:hover {
    color: #703ace;
}

/* CLEAN AU DESSUS */

.buttonchoice {
    /* background-color: #382AE1; */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 45px;
    width: 250px;
    height: 75px;
    border-radius: 10px;
}

.buttonchoice #paymentid {
    width: 350px;
    padding: 15px;
    height: 150px;
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 700;
    background-color: #382AE1;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 10px 5px 5px #b59ae4a8;
}

.buttonchoice #paymentid:hover {
    background-color: #766CF1;
}

.buttonchoice #cancelorderid {
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    transition: 0.2s;
}

.buttonchoice #cancelorderid:hover {
    color: #865ccf;
}

.attribution {
    text-align: center;
    font-family: 'Red Hat Display';
}