* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #D6E1FF;
}

.imagetop {
    width: 450px;
    height: auto;
    margin-left: 750px;
    margin-top: 75px;
}

.imagetop img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.toppart {
    background-color: beige;
    width: 450px;
    height: 550px;
    margin-left: 750px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.texthaut {
    width: 70%;
    margin: 35px 0;
    text-align: center;
}

.texthaut h2 {
    font-size: 30px;
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display';
    font-weight: 900;
}

.texthaut p {
    padding: 10px;
    text-align: center;
    font-family: 'Red Hat Display';
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    line-height: 1.8;
}

.chooseplan {
    background-color: #F8F9FE;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    width: 350px;
    border-radius: 10px;
}

.textchooseplan {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-family: 'Red Hat Display';
    color:hsl(223, 47%, 23%);
    line-height: 1.6;
}

.textchooseplan p {
    font-weight: 400;
}

.chooseplan button#test {
    margin-left: auto;
    padding-right: 15px;
    height: 40px;
    font-family: 'Red Hat Display';
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    color: rgb(70, 70, 70);
}
.chooseplan button#test:hover {
    color: #703ace;
}

/* CLEAN AU DESSUS */

